
<mat-card class="content overlay">
<div class = "logo">
  <img src="/assets/images/logo.jpg" alt ="logo" class="logo-img"/>
  <div class="button-row">
  <!--<h1 class="head_title">Seed Company</h1>-->
        <a routerLink="/login">Login</a>| <a href="#">SignUp</a>
  </div>
</div>
<nav>
    <button mat-raised-button class="nav-menu"><a routerLink="/home">Home</a></button>
    <button mat-raised-button color="primary" class= "nav-menu">About us</button>
    <button mat-raised-button color="accent" class= "nav-menu">Services</button>
    <button mat-raised-button color="warn" class= "nav-menu">ContactUs</button> 
</nav>

<!--<mat-divider></mat-divider>

</mat-card>
<mat-card class="content overlay"> -->
    <div class="main_content_image">
      <img src ="/assets/images/slider1.jpg" width="100%"/>

      </div>
      <router-outlet></router-outlet>
<!--</mat-card>
  <mat-card class="content overlay">
   <app-home></app-home>-->
    <mat-divider></mat-divider>
<footer>
    <div class="footer_content">
      <p> All Copy Rights&copy; Reserved 2018 </p>
     
      </div>
    </footer>
  </mat-card>




