<!--The content below is only a placeholder and can be replaced.
<button mat-icon-button>
    <mat-icon>more_vert</mat-icon>
    <div class="button-row">
    
        <button mat-raised-button>Home</button>
        <button mat-raised-button color="primary">About us</button>
        <button mat-raised-button color="accent">Services</button>
        <button mat-raised-button color="warn">Contactus</button>
        <button mat-raised-button disabled>Disabled</button>
       
      </div>
  </button>-->
<mat-card class="content overlay">
<div class = "logo">
  <img src="/assets/images/logo.jpg" alt ="logo" class="logo-img"/>
  
  <div class="button-row">
    
  <button mat-raised-button>Home</button>
  <button mat-raised-button color="primary">About us</button>
  <button mat-raised-button color="accent">Services</button>
  <button mat-raised-button color="warn">ContactUs</button> 
  <a href="#">Login</a> | <a href="#">SignUp</a>
</div>
</div>
<!--<mat-divider></mat-divider> -->
<div class="main_content">

</div>
</mat-card>
<div layout="row">
    <div flex-gt-sm="66" flex="33">
      flex 33% on mobile, <br>and 66% on gt-sm devices.
    </div>
    <div flex-gt-sm="33" flex="66">
      flex 66%  on mobile, <br>and 33% on gt-sm devices.
    </div>
  </div>



