/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.main-div {
    background: url('/assets/images/background-image2.jpg');
    background-repeat: repeat;
    background-color: #DDDEEE;
}
nav {
    margin-left:2%;
}
.nav-menu {
    padding:10px 65px !important;
}
